@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --bg: #f8faff;
  --white: #ffffff;
  --blue: #60a5fa;
  --purple: #4f46e5;
  --light-purple: #6366f1;
  --red: #f87171;
  --text: #1f2937;
}
#root{
    background-color: #f3e5f5;
}
body {
    font-family: 'Inter', sans-serif;
}

html, body {
    height: auto;
}
